{
  "openapi": "3.0.0",
  "info": {
    "title": "spoonacular API",
    "description": "The spoonacular Nutrition, Recipe, and Food API allows you to access over 380,000 recipes, thousands of ingredients, 800,000 food products, and 100,000 menu items. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as \"gluten free brownies without sugar\" or \"low fat vegan cupcakes.\" You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.\n\nSpecial diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.",
    "termsOfService": "https://spoonacular.com/food-api/terms",
    "contact": {
      "name": "David Urbansky",
      "url": "https://spoonacular.com/contact",
      "email": "mail@spoonacular.com"
    },
    "license": {
      "name": "spoonacular API Terms",
      "url": "https://spoonacular.com/food-api/terms"
    },
    "version": "1.0",
    "x-codegen-settings": {
      "Nullify404": false,
      "GenerateAsyncCode": true,
      "UseMethodPrefix": true,
      "UseModelPostfix": false,
      "UseControllerPrefix": true,
      "UseEnumPostfix": true,
      "CollectParameters": false,
      "UseConstructorsForConfig": true,
      "UseCommonSDKLibrary": false,
      "iOSUseAppInfoPlist": true,
      "AndroidUseAppManifest": true,
      "BodySerialization": 0,
      "EnableAdditionalModelProperties": false,
      "PreserveParameterOrder": false,
      "AppendContentHeaders": true,
      "iOSGenerateCoreData": false,
      "GenerateInterfaces": false,
      "NodeHttpClient": "NODE_REQUEST",
      "ValidateRequiredParameters": false,
      "JavaUsePropertiesConfig": false,
      "Timeout": 0,
      "StoreTimezoneInformation": false,
      "EnablePHPComposerVersionString": false,
      "EnableLogging": false,
      "ArraySerialization": "Indexed",
      "ModelSerializationScheme": "Json",
      "UseExceptionPrefix": true,
      "RunscopeEnabled": false,
      "JavaHttpClient": "JAVA_OK",
      "ParameterArrayFormat": "ParamArrayWithIndex",
      "SecurityProtocols": [
        "Ssl3",
        "Tls"
      ],
      "GenerateTravisConfig": false,
      "GenerateCircleConfig": false,
      "GenerateAppveyorConfig": false,
      "GenerateJenkinsConfig": false,
      "EnableHttpCache": false,
      "Retries": 0,
      "RetryInterval": 1,
      "GenerateAdvancedDocs": false,
      "UnderscoreNumbers": true,
      "UseSingletonPattern": true,
      "DisableLinting": false,
      "ApplyCustomizations": [],
      "SortResources": false,
      "AllowSkippingSSLCertVerification": false,
      "DoNotSplitWords": [],
      "EnableGlobalUserAgent": true,
      "ReturnCompleteHttpResponse": false,
      "GenerateModels": true,
      "GenerateExceptions": true,
      "IgnoreIfNullJson": false,
      "DisableDocs": false,
      "LiftParameterDescriptionFromCustomType": false,
      "ThrowForHttpErrorStatusCodes": true,
      "ResponseMapping": {
        "Type": "Simple"
      },
      "ForceKeywordArgsInRuby": false,
      "SymbolizeHashKeysInRuby": false
    },
    "x-server-configuration": {
      "default-environment": "production",
      "default-server": "default",
      "environments": [
        {
          "name": "production",
          "servers": [
            {
              "name": "default",
              "url": "https://api.spoonacular.com"
            }
          ]
        }
      ],
      "parameters": []
    }
  },
  "externalDocs": {
    "description": "The official documentation.",
    "url": "https://spoonacular.com/food-api/docs"
  },
  "servers": [
    {
      "url": "https://api.spoonacular.com"
    }
  ],
  "security": [
    {
      "apiKeyScheme": []
    }
  ],
  "tags": [
    {
      "name": "ingredients"
    },
    {
      "name": "meal planning"
    },
    {
      "name": "menu items"
    },
    {
      "name": "misc"
    },
    {
      "name": "products"
    },
    {
      "name": "recipes"
    },
    {
      "name": "wine"
    }
  ],
  "paths": {
    "/recipes/complexSearch": {
      "get": {
        "tags": [
          "recipes"
        ],
        "summary": "Search Recipes",
        "description": "Search through hundreds of thousands of recipes using advanced filtering and ranking. NOTE: This method combines searching by query, by ingredients, and by nutrients into one endpoint.",
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes"
        },
        "operationId": "searchRecipes",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The (natural language) search query.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "burger"
            }
          },
          {
            "name": "cuisine",
            "in": "query",
            "description": "The cuisine(s) of the recipes. One or more, comma separated (will be interpreted as 'OR'). See a full list of supported cuisines.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "italian"
            }
          },
          {
            "name": "excludeCuisine",
            "in": "query",
            "description": "The cuisine(s) the recipes must not match. One or more, comma separated (will be interpreted as 'AND'). See a full list of supported cuisines.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "greek"
            }
          },
          {
            "name": "diet",
            "in": "query",
            "description": "The diet for which the recipes must be suitable. See a full list of supported diets.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "vegetarian"
            }
          },
          {
            "name": "intolerances",
            "in": "query",
            "description": "A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "gluten"
            }
          },
          {
            "name": "equipment",
            "in": "query",
            "description": "The equipment required. Multiple values will be interpreted as 'or'. For example, value could be \"blender, frying pan, bowl\".",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "pan"
            }
          },
          {
            "name": "includeIngredients",
            "in": "query",
            "description": "A comma-separated list of ingredients that should/must be used in the recipes.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "tomato,cheese"
            }
          },
          {
            "name": "excludeIngredients",
            "in": "query",
            "description": "A comma-separated list of ingredients or ingredient types that the recipes must not contain.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "eggs"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of recipe. See a full list of supported meal types.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "main course"
            }
          },
          {
            "name": "instructionsRequired",
            "in": "query",
            "description": "Whether the recipes must have instructions.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "name": "fillIngredients",
            "in": "query",
            "description": "Add information about the ingredients and whether they are used or missing in relation to the query.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "addRecipeInformation",
            "in": "query",
            "description": "If set to true, you get more information about the recipes returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "addRecipeNutrition",
            "in": "query",
            "description": "If set to true, you get nutritional information about each recipes returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "author",
            "in": "query",
            "description": "The username of the recipe author.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "coffeebean"
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "The tags (can be diets, meal types, cuisines, or intolerances) that the recipe must have.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recipeBoxId",
            "in": "query",
            "description": "The id of the recipe box to which the search should be limited to.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 2468
            }
          },
          {
            "name": "titleMatch",
            "in": "query",
            "description": "Enter text that must be found in the title of the recipes.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "Crock Pot"
            }
          },
          {
            "name": "maxReadyTime",
            "in": "query",
            "description": "The maximum time in minutes it should take to prepare and cook the recipe.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 20
            }
          },
          {
            "name": "ignorePantry",
            "in": "query",
            "description": "Whether to ignore typical pantry items, such as water, salt, flour, etc.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": false,
              "default": false
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The strategy to sort recipes by. See a full list of supported sorting options.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "calories"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "The direction in which to sort. Must be either 'asc' (ascending) or 'desc' (descending).",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "example": "asc"
            }
          },
          {
            "name": "minCarbs",
            "in": "query",
            "description": "The minimum amount of carbohydrates in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "maxCarbs",
            "in": "query",
            "description": "The maximum amount of carbohydrates in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minProtein",
            "in": "query",
            "description": "The minimum amount of protein in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "maxProtein",
            "in": "query",
            "description": "The maximum amount of protein in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCalories",
            "in": "query",
            "description": "The minimum amount of calories the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 50
            }
          },
          {
            "name": "maxCalories",
            "in": "query",
            "description": "The maximum amount of calories the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 800
            }
          },
          {
            "name": "minFat",
            "in": "query",
            "description": "The minimum amount of fat in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "maxFat",
            "in": "query",
            "description": "The maximum amount of fat in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minAlcohol",
            "in": "query",
            "description": "The minimum amount of alcohol in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxAlcohol",
            "in": "query",
            "description": "The maximum amount of alcohol in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCaffeine",
            "in": "query",
            "description": "The minimum amount of caffeine in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCaffeine",
            "in": "query",
            "description": "The maximum amount of caffeine in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCopper",
            "in": "query",
            "description": "The minimum amount of copper in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCopper",
            "in": "query",
            "description": "The maximum amount of copper in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCalcium",
            "in": "query",
            "description": "The minimum amount of calcium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCalcium",
            "in": "query",
            "description": "The maximum amount of calcium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCholine",
            "in": "query",
            "description": "The minimum amount of choline in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCholine",
            "in": "query",
            "description": "The maximum amount of choline in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCholesterol",
            "in": "query",
            "description": "The minimum amount of cholesterol in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCholesterol",
            "in": "query",
            "description": "The maximum amount of cholesterol in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFluoride",
            "in": "query",
            "description": "The minimum amount of fluoride in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFluoride",
            "in": "query",
            "description": "The maximum amount of fluoride in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSaturatedFat",
            "in": "query",
            "description": "The minimum amount of saturated fat in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSaturatedFat",
            "in": "query",
            "description": "The maximum amount of saturated fat in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminA",
            "in": "query",
            "description": "The minimum amount of Vitamin A in IU the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminA",
            "in": "query",
            "description": "The maximum amount of Vitamin A in IU the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminC",
            "in": "query",
            "description": "The minimum amount of Vitamin C milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminC",
            "in": "query",
            "description": "The maximum amount of Vitamin C in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminD",
            "in": "query",
            "description": "The minimum amount of Vitamin D in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminD",
            "in": "query",
            "description": "The maximum amount of Vitamin D in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminE",
            "in": "query",
            "description": "The minimum amount of Vitamin E in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminE",
            "in": "query",
            "description": "The maximum amount of Vitamin E in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminK",
            "in": "query",
            "description": "The minimum amount of Vitamin K in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminK",
            "in": "query",
            "description": "The maximum amount of Vitamin K in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB1",
            "in": "query",
            "description": "The minimum amount of Vitamin B1 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB1",
            "in": "query",
            "description": "The maximum amount of Vitamin B1 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB2",
            "in": "query",
            "description": "The minimum amount of Vitamin B2 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB2",
            "in": "query",
            "description": "The maximum amount of Vitamin B2 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB5",
            "in": "query",
            "description": "The minimum amount of Vitamin B5 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB5",
            "in": "query",
            "description": "The maximum amount of Vitamin B5 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB3",
            "in": "query",
            "description": "The minimum amount of Vitamin B3 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB3",
            "in": "query",
            "description": "The maximum amount of Vitamin B3 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB6",
            "in": "query",
            "description": "The minimum amount of Vitamin B6 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB6",
            "in": "query",
            "description": "The maximum amount of Vitamin B6 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB12",
            "in": "query",
            "description": "The minimum amount of Vitamin B12 in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB12",
            "in": "query",
            "description": "The maximum amount of Vitamin B12 in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFiber",
            "in": "query",
            "description": "The minimum amount of fiber in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFiber",
            "in": "query",
            "description": "The maximum amount of fiber in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFolate",
            "in": "query",
            "description": "The minimum amount of folate in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFolate",
            "in": "query",
            "description": "The maximum amount of folate in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFolicAcid",
            "in": "query",
            "description": "The minimum amount of folic acid in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFolicAcid",
            "in": "query",
            "description": "The maximum amount of folic acid in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minIodine",
            "in": "query",
            "description": "The minimum amount of iodine in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxIodine",
            "in": "query",
            "description": "The maximum amount of iodine in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minIron",
            "in": "query",
            "description": "The minimum amount of iron in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxIron",
            "in": "query",
            "description": "The maximum amount of iron in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minMagnesium",
            "in": "query",
            "description": "The minimum amount of magnesium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxMagnesium",
            "in": "query",
            "description": "The maximum amount of magnesium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minManganese",
            "in": "query",
            "description": "The minimum amount of manganese in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxManganese",
            "in": "query",
            "description": "The maximum amount of manganese in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minPhosphorus",
            "in": "query",
            "description": "The minimum amount of phosphorus in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxPhosphorus",
            "in": "query",
            "description": "The maximum amount of phosphorus in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minPotassium",
            "in": "query",
            "description": "The minimum amount of potassium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxPotassium",
            "in": "query",
            "description": "The maximum amount of potassium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSelenium",
            "in": "query",
            "description": "The minimum amount of selenium in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSelenium",
            "in": "query",
            "description": "The maximum amount of selenium in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSodium",
            "in": "query",
            "description": "The minimum amount of sodium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSodium",
            "in": "query",
            "description": "The maximum amount of sodium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSugar",
            "in": "query",
            "description": "The minimum amount of sugar in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSugar",
            "in": "query",
            "description": "The maximum amount of sugar in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minZinc",
            "in": "query",
            "description": "The minimum amount of zinc in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxZinc",
            "in": "query",
            "description": "The maximum amount of zinc in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of results to skip (between 0 and 900).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 900,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "The maximum number of items to return (between 1 and 100). Defaults to 10.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "limitLicense",
            "in": "query",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": true,
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "offset": 0,
                      "number": 2,
                      "results": [
                        {
                          "id": 716429,
                          "title": "Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs",
                          "calories": 584,
                          "carbs": "84g",
                          "fat": "20g",
                          "image": "https://spoonacular.com/recipeImages/716429-312x231.jpg",
                          "imageType": "jpg",
                          "protein": "19g"
                        },
                        {
                          "id": 715538,
                          "title": "What to make for dinner tonight?? Bruschetta Style Pork & Pasta",
                          "calories": 521,
                          "carbs": "69g",
                          "fat": "10g",
                          "image": "https://spoonacular.com/recipeImages/715538-312x231.jpg",
                          "imageType": "jpg",
                          "protein": "35g"
                        }
                      ],
                      "totalResults": 86
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/recipes/findByIngredients": {
      "get": {
        "tags": [
          "recipes"
        ],
        "summary": "Search Recipes by Ingredients",
        "description": "\nEver wondered what recipes you can cook with the ingredients you have in your fridge or pantry? This endpoint lets you find recipes that either maximize the usage of ingredients you have at hand (pre shopping) or minimize the ingredients that you don't currently have (post shopping).\n        ",
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-by-Ingredients"
        },
        "operationId": "searchRecipesByIngredients",
        "parameters": [
          {
            "name": "ingredients",
            "in": "query",
            "description": "A comma-separated list of ingredients that the recipes should contain.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "example": "carrots,tomatoes"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "The maximum number of items to return (between 1 and 100). Defaults to 10.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "limitLicense",
            "in": "query",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": true,
              "default": true
            }
          },
          {
            "name": "ranking",
            "in": "query",
            "description": "Whether to maximize used ingredients (1) or minimize missing ingredients (2) first.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "ignorePantry",
            "in": "query",
            "description": "Whether to ignore typical pantry items, such as water, salt, flour, etc.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": false,
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "minItems": 0,
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inline_response_200_1"
                  },
                  "x-examples": {
                    "example-1": [
                      {
                        "id": 73420,
                        "image": "https://spoonacular.com/recipeImages/73420-312x231.jpg",
                        "imageType": "jpg",
                        "likes": 0,
                        "missedIngredientCount": 3,
                        "missedIngredients": [
                          {
                            "aisle": "Baking",
                            "amount": 1,
                            "id": 18371,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/white-powder.jpg",
                            "meta": [],
                            "name": "baking powder",
                            "original": "1 tsp baking powder",
                            "originalName": "baking powder",
                            "unit": "tsp",
                            "unitLong": "teaspoon",
                            "unitShort": "tsp"
                          },
                          {
                            "aisle": "Spices and Seasonings",
                            "amount": 1,
                            "id": 2010,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg",
                            "meta": [],
                            "name": "cinnamon",
                            "original": "1 tsp cinnamon",
                            "originalName": "cinnamon",
                            "unit": "tsp",
                            "unitLong": "teaspoon",
                            "unitShort": "tsp"
                          },
                          {
                            "aisle": "Milk, Eggs, Other Dairy",
                            "amount": 1,
                            "id": 1123,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/egg.png",
                            "meta": [],
                            "name": "egg",
                            "original": "1 egg",
                            "originalName": "egg",
                            "unit": "",
                            "unitLong": "",
                            "unitShort": ""
                          }
                        ],
                        "title": "Apple Or Peach Strudel",
                        "unusedIngredients": [],
                        "usedIngredientCount": 1,
                        "usedIngredients": [
                          {
                            "aisle": "Produce",
                            "amount": 6,
                            "id": 9003,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/apple.jpg",
                            "meta": [],
                            "name": "apples",
                            "original": "6 large baking apples",
                            "originalName": "baking apples",
                            "unit": "large",
                            "unitLong": "larges",
                            "unitShort": "large"
                          }
                        ]
                      },
                      {
                        "id": 632660,
                        "image": "https://spoonacular.com/recipeImages/632660-312x231.jpg",
                        "imageType": "jpg",
                        "likes": 3,
                        "missedIngredientCount": 4,
                        "missedIngredients": [
                          {
                            "aisle": "Milk, Eggs, Other Dairy",
                            "amount": 1.5,
                            "extendedName": "unsalted butter",
                            "id": 1001,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/butter-sliced.jpg",
                            "meta": [
                              "unsalted",
                              "cold"
                            ],
                            "name": "butter",
                            "original": "1 1/2 sticks cold unsalted butter cold unsalted butter<",
                            "originalName": "cold unsalted butter cold unsalted butter<",
                            "unit": "sticks",
                            "unitLong": "sticks",
                            "unitShort": "sticks"
                          },
                          {
                            "aisle": "Produce",
                            "amount": 4,
                            "id": 1079003,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/red-delicious-apples.png",
                            "meta": [
                              "red",
                              " such as golden delicious, peeled, cored and cut into 1/4-inch-thick slices "
                            ],
                            "name": "red apples",
                            "original": "4 larges red apples, such as Golden Delicious, peeled, cored and cut into 1/4-inch-thick slices",
                            "originalName": "s red apples, such as Golden Delicious, peeled, cored and cut into 1/4-inch-thick slices",
                            "unit": "large",
                            "unitLong": "larges",
                            "unitShort": "large"
                          },
                          {
                            "aisle": "Spices and Seasonings",
                            "amount": 2,
                            "id": 2010,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg",
                            "meta": [],
                            "name": "cinnamon",
                            "original": "2 teaspoons cinnamon",
                            "originalName": "cinnamon",
                            "unit": "teaspoons",
                            "unitLong": "teaspoons",
                            "unitShort": "tsp"
                          },
                          {
                            "aisle": "Nut butters, Jams, and Honey",
                            "amount": 2,
                            "id": 19719,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/apricot-jam.jpg",
                            "meta": [
                              "melted"
                            ],
                            "name": "apricot preserves",
                            "original": "2 tablespoons apricot preserves, melted and strained",
                            "originalName": "apricot preserves, melted and strained",
                            "unit": "tablespoons",
                            "unitLong": "tablespoons",
                            "unitShort": "Tbsp"
                          }
                        ],
                        "title": "Apricot Glazed Apple Tart",
                        "unusedIngredients": [
                          {
                            "aisle": "Produce",
                            "amount": 1,
                            "id": 9003,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/apple.jpg",
                            "meta": [],
                            "name": "apples",
                            "original": "apples",
                            "originalName": "apples",
                            "unit": "serving",
                            "unitLong": "serving",
                            "unitShort": "serving"
                          }
                        ],
                        "usedIngredientCount": 0,
                        "usedIngredients": []
                      }
                    ]
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "id": 73420,
                        "image": "https://spoonacular.com/recipeImages/73420-312x231.jpg",
                        "imageType": "jpg",
                        "likes": 0,
                        "missedIngredientCount": 3,
                        "missedIngredients": [
                          {
                            "aisle": "Baking",
                            "amount": 1,
                            "id": 18371,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/white-powder.jpg",
                            "meta": [],
                            "name": "baking powder",
                            "original": "1 tsp baking powder",
                            "originalName": "baking powder",
                            "unit": "tsp",
                            "unitLong": "teaspoon",
                            "unitShort": "tsp"
                          },
                          {
                            "aisle": "Spices and Seasonings",
                            "amount": 1,
                            "id": 2010,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg",
                            "meta": [],
                            "name": "cinnamon",
                            "original": "1 tsp cinnamon",
                            "originalName": "cinnamon",
                            "unit": "tsp",
                            "unitLong": "teaspoon",
                            "unitShort": "tsp"
                          },
                          {
                            "aisle": "Milk, Eggs, Other Dairy",
                            "amount": 1,
                            "id": 1123,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/egg.png",
                            "meta": [],
                            "name": "egg",
                            "original": "1 egg",
                            "originalName": "egg",
                            "unit": "",
                            "unitLong": "",
                            "unitShort": ""
                          }
                        ],
                        "title": "Apple Or Peach Strudel",
                        "unusedIngredients": [],
                        "usedIngredientCount": 1,
                        "usedIngredients": [
                          {
                            "aisle": "Produce",
                            "amount": 6,
                            "id": 9003,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/apple.jpg",
                            "meta": [],
                            "name": "apples",
                            "original": "6 large baking apples",
                            "originalName": "baking apples",
                            "unit": "large",
                            "unitLong": "larges",
                            "unitShort": "large"
                          }
                        ]
                      },
                      {
                        "id": 632660,
                        "image": "https://spoonacular.com/recipeImages/632660-312x231.jpg",
                        "imageType": "jpg",
                        "likes": 3,
                        "missedIngredientCount": 4,
                        "missedIngredients": [
                          {
                            "aisle": "Milk, Eggs, Other Dairy",
                            "amount": 1.5,
                            "extendedName": "unsalted butter",
                            "id": 1001,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/butter-sliced.jpg",
                            "meta": [
                              "unsalted",
                              "cold"
                            ],
                            "name": "butter",
                            "original": "1 1/2 sticks cold unsalted butter cold unsalted butter<",
                            "originalName": "cold unsalted butter cold unsalted butter<",
                            "unit": "sticks",
                            "unitLong": "sticks",
                            "unitShort": "sticks"
                          },
                          {
                            "aisle": "Produce",
                            "amount": 4,
                            "id": 1079003,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/red-delicious-apples.png",
                            "meta": [
                              "red",
                              " such as golden delicious, peeled, cored and cut into 1/4-inch-thick slices "
                            ],
                            "name": "red apples",
                            "original": "4 larges red apples, such as Golden Delicious, peeled, cored and cut into 1/4-inch-thick slices",
                            "originalName": "s red apples, such as Golden Delicious, peeled, cored and cut into 1/4-inch-thick slices",
                            "unit": "large",
                            "unitLong": "larges",
                            "unitShort": "large"
                          },
                          {
                            "aisle": "Spices and Seasonings",
                            "amount": 2,
                            "id": 2010,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/cinnamon.jpg",
                            "meta": [],
                            "name": "cinnamon",
                            "original": "2 teaspoons cinnamon",
                            "originalName": "cinnamon",
                            "unit": "teaspoons",
                            "unitLong": "teaspoons",
                            "unitShort": "tsp"
                          },
                          {
                            "aisle": "Nut butters, Jams, and Honey",
                            "amount": 2,
                            "id": 19719,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/apricot-jam.jpg",
                            "meta": [
                              "melted"
                            ],
                            "name": "apricot preserves",
                            "original": "2 tablespoons apricot preserves, melted and strained",
                            "originalName": "apricot preserves, melted and strained",
                            "unit": "tablespoons",
                            "unitLong": "tablespoons",
                            "unitShort": "Tbsp"
                          }
                        ],
                        "title": "Apricot Glazed Apple Tart",
                        "unusedIngredients": [
                          {
                            "aisle": "Produce",
                            "amount": 1,
                            "id": 9003,
                            "image": "https://spoonacular.com/cdn/ingredients_100x100/apple.jpg",
                            "meta": [],
                            "name": "apples",
                            "original": "apples",
                            "originalName": "apples",
                            "unit": "serving",
                            "unitLong": "serving",
                            "unitShort": "serving"
                          }
                        ],
                        "usedIngredientCount": 0,
                        "usedIngredients": []
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/recipes/findByNutrients": {
      "get": {
        "tags": [
          "recipes"
        ],
        "summary": "Search Recipes by Nutrients",
        "description": "Find a set of recipes that adhere to the given nutritional limits. You may set limits for macronutrients (calories, protein, fat, and carbohydrate) and/or many micronutrients.",
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Search-Recipes-by-Nutrients"
        },
        "operationId": "searchRecipesByNutrients",
        "parameters": [
          {
            "name": "minCarbs",
            "in": "query",
            "description": "The minimum amount of carbohydrates in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "maxCarbs",
            "in": "query",
            "description": "The maximum amount of carbohydrates in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minProtein",
            "in": "query",
            "description": "The minimum amount of protein in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 10
            }
          },
          {
            "name": "maxProtein",
            "in": "query",
            "description": "The maximum amount of protein in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCalories",
            "in": "query",
            "description": "The minimum amount of calories the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 50
            }
          },
          {
            "name": "maxCalories",
            "in": "query",
            "description": "The maximum amount of calories the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 800
            }
          },
          {
            "name": "minFat",
            "in": "query",
            "description": "The minimum amount of fat in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 1
            }
          },
          {
            "name": "maxFat",
            "in": "query",
            "description": "The maximum amount of fat in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minAlcohol",
            "in": "query",
            "description": "The minimum amount of alcohol in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxAlcohol",
            "in": "query",
            "description": "The maximum amount of alcohol in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCaffeine",
            "in": "query",
            "description": "The minimum amount of caffeine in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCaffeine",
            "in": "query",
            "description": "The maximum amount of caffeine in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCopper",
            "in": "query",
            "description": "The minimum amount of copper in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCopper",
            "in": "query",
            "description": "The maximum amount of copper in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCalcium",
            "in": "query",
            "description": "The minimum amount of calcium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCalcium",
            "in": "query",
            "description": "The maximum amount of calcium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCholine",
            "in": "query",
            "description": "The minimum amount of choline in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCholine",
            "in": "query",
            "description": "The maximum amount of choline in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minCholesterol",
            "in": "query",
            "description": "The minimum amount of cholesterol in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxCholesterol",
            "in": "query",
            "description": "The maximum amount of cholesterol in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFluoride",
            "in": "query",
            "description": "The minimum amount of fluoride in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFluoride",
            "in": "query",
            "description": "The maximum amount of fluoride in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSaturatedFat",
            "in": "query",
            "description": "The minimum amount of saturated fat in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSaturatedFat",
            "in": "query",
            "description": "The maximum amount of saturated fat in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminA",
            "in": "query",
            "description": "The minimum amount of Vitamin A in IU the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminA",
            "in": "query",
            "description": "The maximum amount of Vitamin A in IU the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminC",
            "in": "query",
            "description": "The minimum amount of Vitamin C in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminC",
            "in": "query",
            "description": "The maximum amount of Vitamin C in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminD",
            "in": "query",
            "description": "The minimum amount of Vitamin D in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminD",
            "in": "query",
            "description": "The maximum amount of Vitamin D in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminE",
            "in": "query",
            "description": "The minimum amount of Vitamin E in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminE",
            "in": "query",
            "description": "The maximum amount of Vitamin E in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminK",
            "in": "query",
            "description": "The minimum amount of Vitamin K in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminK",
            "in": "query",
            "description": "The maximum amount of Vitamin K in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB1",
            "in": "query",
            "description": "The minimum amount of Vitamin B1 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB1",
            "in": "query",
            "description": "The maximum amount of Vitamin B1 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB2",
            "in": "query",
            "description": "The minimum amount of Vitamin B2 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB2",
            "in": "query",
            "description": "The maximum amount of Vitamin B2 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB5",
            "in": "query",
            "description": "The minimum amount of Vitamin B5 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB5",
            "in": "query",
            "description": "The maximum amount of Vitamin B5 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB3",
            "in": "query",
            "description": "The minimum amount of Vitamin B3 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB3",
            "in": "query",
            "description": "The maximum amount of Vitamin B3 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB6",
            "in": "query",
            "description": "The minimum amount of Vitamin B6 in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB6",
            "in": "query",
            "description": "The maximum amount of Vitamin B6 in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minVitaminB12",
            "in": "query",
            "description": "The minimum amount of Vitamin B12 in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxVitaminB12",
            "in": "query",
            "description": "The maximum amount of Vitamin B12 in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFiber",
            "in": "query",
            "description": "The minimum amount of fiber in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFiber",
            "in": "query",
            "description": "The maximum amount of fiber in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFolate",
            "in": "query",
            "description": "The minimum amount of folate in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFolate",
            "in": "query",
            "description": "The maximum amount of folate in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minFolicAcid",
            "in": "query",
            "description": "The minimum amount of folic acid in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxFolicAcid",
            "in": "query",
            "description": "The maximum amount of folic acid in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minIodine",
            "in": "query",
            "description": "The minimum amount of iodine in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxIodine",
            "in": "query",
            "description": "The maximum amount of iodine in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minIron",
            "in": "query",
            "description": "The minimum amount of iron in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxIron",
            "in": "query",
            "description": "The maximum amount of iron in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minMagnesium",
            "in": "query",
            "description": "The minimum amount of magnesium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxMagnesium",
            "in": "query",
            "description": "The maximum amount of magnesium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minManganese",
            "in": "query",
            "description": "The minimum amount of manganese in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxManganese",
            "in": "query",
            "description": "The maximum amount of manganese in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minPhosphorus",
            "in": "query",
            "description": "The minimum amount of phosphorus in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxPhosphorus",
            "in": "query",
            "description": "The maximum amount of phosphorus in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minPotassium",
            "in": "query",
            "description": "The minimum amount of potassium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxPotassium",
            "in": "query",
            "description": "The maximum amount of potassium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSelenium",
            "in": "query",
            "description": "The minimum amount of selenium in micrograms the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSelenium",
            "in": "query",
            "description": "The maximum amount of selenium in micrograms the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSodium",
            "in": "query",
            "description": "The minimum amount of sodium in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSodium",
            "in": "query",
            "description": "The maximum amount of sodium in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minSugar",
            "in": "query",
            "description": "The minimum amount of sugar in grams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxSugar",
            "in": "query",
            "description": "The maximum amount of sugar in grams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "minZinc",
            "in": "query",
            "description": "The minimum amount of zinc in milligrams the recipe must have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 0
            }
          },
          {
            "name": "maxZinc",
            "in": "query",
            "description": "The maximum amount of zinc in milligrams the recipe can have.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "number",
              "example": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of results to skip (between 0 and 900).",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 900,
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "number",
            "in": "query",
            "description": "The maximum number of items to return (between 1 and 100). Defaults to 10.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "example": 10,
              "default": 10
            }
          },
          {
            "name": "random",
            "in": "query",
            "description": "If true, every request will give you a random set of recipes within the requested limits.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "boolean",
              "example": false
            }
          },
          {
            "name": "limitLicense",
            "in": "query",
            "description": "Whether the recipes should have an open license that allows display with proper attribution.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "example": true,
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "minItems": 0,
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/inline_response_200_2"
                  },
                  "x-examples": {
                    "example-1": [
                      {
                        "calories": 210,
                        "carbs": "43g",
                        "fat": "3g",
                        "id": 90629,
                        "image": "https://spoonacular.com/recipeImages/90629-312x231.jpg",
                        "imageType": "jpg",
                        "protein": "1g",
                        "title": "Baked Apples in White Wine"
                      },
                      {
                        "calories": 226,
                        "carbs": "33g",
                        "fat": "10g",
                        "id": 284420,
                        "image": "https://spoonacular.com/recipeImages/284420-312x231.jpg",
                        "imageType": "jpg",
                        "protein": "2g",
                        "title": "Chocolate Silk Pie with Marshmallow Meringue"
                      }
                    ]
                  }
                },
                "examples": {
                  "example-1": {
                    "value": [
                      {
                        "calories": 210,
                        "carbs": "43g",
                        "fat": "3g",
                        "id": 90629,
                        "image": "https://spoonacular.com/recipeImages/90629-312x231.jpg",
                        "imageType": "jpg",
                        "protein": "1g",
                        "title": "Baked Apples in White Wine"
                      },
                      {
                        "calories": 226,
                        "carbs": "33g",
                        "fat": "10g",
                        "id": 284420,
                        "image": "https://spoonacular.com/recipeImages/284420-312x231.jpg",
                        "imageType": "jpg",
                        "protein": "2g",
                        "title": "Chocolate Silk Pie with Marshmallow Meringue"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/recipes/{id}/information": {
      "get": {
        "tags": [
          "recipes"
        ],
        "summary": "Get Recipe Information",
        "description": "Use a recipe id to get full information about a recipe, such as ingredients, nutrition, diet and allergen information, etc.",
        "externalDocs": {
          "description": "Read entire docs",
          "url": "https://spoonacular.com/food-api/docs#Get-Recipe-Information"
        },
        "operationId": "getRecipeInformation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The item's id.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "includeNutrition",
            "in": "query",
            "description": "Include nutrition data in the recipe information. Nutrition data is per serving. If you want the nutrition data for the entire recipe, just multiply by the number of servings.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_3"
                },
                "examples": {
                  "example-1": {
                    "value": {
                      "id": 716429,
                      "title": "Pasta with Garlic, Scallions, Cauliflower & Breadcrumbs",
                      "image": "https://spoonacular.com/recipeImages/716429-556x370.jpg",
                      "imageType": "jpg",
                      "servings": 2,
                      "readyInMinutes": 45,
                      "license": "CC BY-SA 3.0",
                      "sourceName": "Full Belly Sisters",
                      "sourceUrl": "http://fullbellysisters.blogspot.com/2012/06/pasta-with-garlic-scallions-cauliflower.html",
                      "spoonacularSourceUrl": "https://spoonacular.com/pasta-with-garlic-scallions-cauliflower-breadcrumbs-716429",
                      "aggregateLikes": 209,
                      "healthScore": 19,
                      "spoonacularScore": 83,
                      "pricePerServing": 163.15,
                      "analyzedInstructions": [],
                      "cheap": false,
                      "creditsText": "Full Belly Sisters",
                      "cuisines": [],
                      "dairyFree": false,
                      "diets": [],
                      "gaps": "no",
                      "glutenFree": false,
                      "instructions": "",
                      "ketogenic": false,
                      "lowFodmap": false,
                      "occasions": [],
                      "sustainable": false,
                      "vegan": false,
                      "vegetarian": false,
                      "veryHealthy": false,
                      "veryPopular": false,
                      "whole30": false,
                      "weightWatcherSmartPoints": 17,
                      "dishTypes": [
                        "lunch",
                        "main course",
                        "main dish",
                        "dinner"
                      ],
                      "extendedIngredients": [
                        {
                          "aisle": "Milk, Eggs, Other Dairy",
                          "amount": 1,
                          "consitency": "solid",
                          "id": 1001,
                          "image": "butter-sliced.jpg",
                          "measures": {
                            "metric": {
                              "amount": 1,
                              "unitLong": "Tbsp",
                              "unitShort": "Tbsp"
                            },
                            "us": {
                              "amount": 1,
                              "unitLong": "Tbsp",
                              "unitShort": "Tbsp"
                            }
                          },
                          "meta": [],
                          "name": "butter",
                          "original": "1 tbsp butter",
                          "originalName": "butter",
                          "unit": "tbsp"
                        },
                        {
                          "aisle": "Produce",
                          "amount": 2,
                          "consitency": "solid",
                          "id": 10011135,
                          "image": "cauliflower.jpg",
                          "measures": {
                            "metric": {
                              "amount": 473.176,
                              "unitLong": "milliliters",
                              "unitShort": "ml"
                            },
                            "us": {
                              "amount": 2,
                              "unitLong": "cups",
                              "unitShort": "cups"
                            }
                          },
                          "meta": [
                            "frozen",
                            "thawed",
                            "cut into bite-sized pieces"
                          ],
                          "name": "cauliflower florets",
[...]
